/* 
* Prefixed with #poststuff .acf-layout
* See webpack.mix.js 
*/

@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  @apply box-border;
}

h2 {
  @apply p-0;
}
p {
  font-size: inherit;
  line-height: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
button,
[type="button"] {
  border-width: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  @apply w-auto;
}

/* Posts Pagination */
.posts-pagination,
.ajax-pagination {
  > ul {
    @apply flex items-center justify-end gap-x-1;
    > li {
      @apply p-2 flex w-10 h-10 justify-center items-center rounded-full cursor-pointer hover:text-brand-dark-blue;
      &:hover {
        color: var(--section-link-color);
      }
      &.inactive {
        @apply opacity-50 cursor-not-allowed;
      }
      &.selected {
        @apply bg-brand-dark-blue text-white;
        background-color: var(--section-link-color);
      }
      &:first-child,
      &:last-child {
        @apply tracking-[-0.2em];
      }
    }
  }
}
.nav-links {
  @apply flex items-center justify-center gap-x-1;
  .page-numbers {
    @apply p-2 flex w-10 h-10 justify-center items-center rounded-full cursor-pointer;
    &.current {
      @apply bg-brand-dark-blue text-white;
      background-color: var(--section-link-color);
    }
    &.prev,
    &.next {
      @apply w-auto rounded-none;
    }
  }
}
