:root {
  color-scheme: light;
  --pc: 0.83532 0.02395 266.277938;
  --ac: 0.156905 0.019035 195.387271;
  --inc: 0.890403 0.062643 264.052021;
  --suc: 0.173288 0.058965 142.495339;
  --wac: 0.173288 0.058965 142.495339;
  --erc: 0.125591 0.051537 29.233885;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --p: 0.176599 0.119749 266.277938;
  --s: 0.556109 0.218828 260.260535;
  --sc: 0.9871 0.0106 342.55;
  --a: 0.784527 0.095177 195.387271;
  --n: 0.959125 0.003434 67.78249;
  --nc: 0.894994 0.011585 252.096176;
  --b1: 1 0 0;
  --b2: 0.961151 0 0;
  --b3: 0.924169 0.00108 197.137559;
  --bc: 0.278078 0.029596 256.847952;
  --in: 0.452014 0.313214 264.052021;
  --su: 0.86644 0.294827 142.495339;
  --wa: 0.86644 0.294827 142.495339;
  --er: 0.627955 0.257683 29.233885;
}
.btn-outline {
  @apply border-solid;
}
